*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    color: aliceblue;
    background-size: cover;
}
.sidebar{
    position: relative;
    width: 40%;
    height:100vh;
    background-size: cover;
    margin: 0;
    background-color:rgb(6, 1, 22);
    color: aliceblue;
   
    
}
.top img{
    margin-top: 2rem;
    margin-left: 3rem;
}
.write{
    
    padding-top: 6rem;
    justify-content: center;
    margin-left: 10rem;
}
.profile{
    margin-bottom: 1.5rem;
}
.organ{
    margin-bottom: 1.5rem;
}
.buttom{
    text-align: center;
    padding-top: 17rem;
}
.first{
    display: block;
}
.mainsub{
    background-color: #042A37;
    width: 60%;
    height: 100vh;

}
.third{
    color: aliceblue;
    /* text-align: center; */
    justify-content: center;
    display: flex;
    margin-top: 6rem;
}
.third input{
    padding: 1rem 2rem;
    width: 15rem;
    border-radius: 5px;
}
.third label{
    margin-left: 5rem;
}
.birthdaycode label{
   margin-left: 5rem;
}
.birthdaycode input{

    border-radius: 5px;
    width: 25rem;
    padding: 1rem 2rem;
}
.birthdaycode{
    margin-left: 1.5rem;
}
.button{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 5rem;
    margin-top: 3rem;
}

.btn1 button{
    border: none;
    padding: .7rem 3rem;
    color: black;
    border-radius: 20px;
    background-color: aliceblue;
}
.btn2 button{
    border: none;
    padding: .7rem 3rem;
    border-radius: 20px;
    color: aliceblue;
    background-color: blueviolet;
}
.btn1 button:hover{
    background-color: aliceblue;
    padding: .8rem 3.2rem;
    cursor: pointer;
    border-radius: 20px;

}
.btn2 button:hover{
    background-color: rgb(123, 7, 231);
    cursor: pointer;
    padding: .8rem 3.2rem;
    border-radius: 20px;
    color: aliceblue;

} 