
.recorder{
    display: flex;
    overflow: hidden;
    column-gap: 25rem;
    
}
.firstrec{
    flex: 70%;
    margin-left: 8rem;
}
.timer{
   
    margin-left: 6rem;
    margin-top: 2rem;
    height: 12rem;
    width: 12rem;
}
.secondrec{
    flex: 30%;

    justify-content: center;
}
.firstrec img{
    margin-top: 2rem;
  
}
.label{
    margin-left: 1rem;
}
.choose{
    margin-top: 3rem;
}
input{
    margin-bottom: 1.5rem;
}
.next{
    display: flex;
    column-gap: 3rem;
    margin-top: 8rem;
    margin-left: 8rem;
}
.next button{
    background-color: #3734A9;
    color: aliceblue;
    border: none;
    width: 8rem;
    padding: 1rem 2rem;
    border-radius: 7px;
}
.secondrec{
    height: 100vh;
    width: 20vw;
    color: aliceblue;
    display: none;
    background-color: #3734A9;
    /* margin-right: 5rem; */
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

.peace{
    display: flex;
    column-gap: 2rem;
    margin-left: 5rem;
    margin-top: .5rem;
}
.base  select{
    background-color: #3734A9;
    color: aliceblue;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 1px solid blue;
    margin-left: 5rem;
}

.questions {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
    margin-top:3rem;
}

.question {
    display: flex;
    margin-top: 10rem;
}
.questionNo{
    color: white;
    font-size: 12px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3734A9;
}

.question h2 {
    margin-right: 20px;
}

.radio{
    margin-right: 2rem;
}
.questions button{
    background-color: #7F7CEC;
    border: none;
    width: 8rem;
    border-radius: 5px;
    padding: .7rem; 
     margin-left: auto;
    color: aliceblue;
    
}
.questionNumbers {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}
.progressBar{
    height: 14rem;
    width: 14rem;
    margin-left: 3rem;
    margin-top: 2rem;
    
}
.questions button{
    background-color: #7F7CEC;
    border: none;
    width: 7rem;
    border-radius: 5px;
    padding: .6rem; 
     margin-left: 13rem;
    color: aliceblue;
   
}






@media only screen and (min-width: 1024px) {
    .secondrec{
        display: block;
    }
    .icons{
        display: none;
    }
    .thirdrec{
        display:none;
    }
}
@media only screen and (max-width: 1024px) {
    .recorder{
        display: flex;
        flex-direction: column;
        column-gap: 0;
        /* justify-content: center; */
        /* height: 100vh; */
        
    }
    .me{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .thirdrec{
        height: auto;
        width: 100%;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        background-color: #3734A9;
        border-radius: 10px;
        justify-content: center;
        position: absolute;
        text-align: center;
        align-items: center;
    }
    .timer{
        margin-left: 0;
        margin-top: 3rem;
        height: 6rem;
        width: 8rem;
    }
    .question h2 {
        margin-right: 5px;
        margin-left: 3px;
    }
  .record{
    max-width: 10rem;
  }
    .firstrec{
        height: 50vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        align-items: center; 
        margin-left: 1rem;
        margin-top: 5px;
        margin-bottom: 10px;
        box-shadow: 0 0 5px 5px #7F7CEC;
    }

    .icons{
       margin:1rem 1rem 0 auto;
       display: block;
    }
    .label{
    /* margin-left: 1rem; */
    max-width: 11rem;
    margin-bottom: 1rem;
    
}
    .iconer{
        margin-left: 3.5rem;
    }

    .next{
        display: flex;
        column-gap: 1rem;
        margin-top: 2rem;
        margin-left: 0;
        margin-bottom: 5rem;
    }
    .next button{
        background-color: #3734A9;
        color: aliceblue;
        border: none;
        width: 6rem;
        padding: .5rem 1rem;
        border-radius: 7px;
    }
    .question {
        display: flex;
        margin-top: 3rem;
      
    }
    .questions button{
        background-color: #7F7CEC;
        border: none;
        width: 6rem;
        border-radius: 5px;
        padding: .4rem; 
         margin-left: auto;
        color: aliceblue;
        margin-bottom: 3rem;
        
    }

}