
.Piechart{
    height: 86vh;
    width: 50vw;
    background-color: white;
    background-size: cover;
    margin-left: 18rem;
    
}
.Firstpie{
    display: flex;
    column-gap:20rem;
    width: 100%;
}
 .sin{ 
    justify-content: center;
    text-align: center;
    width: 10rem;
     box-shadow: 0 0 0.2vw 0.2vw wheat;
    flex: 65%;
}
.chart{
    flex: 35%;
}
.sin p{
    margin-bottom: .5rem;
    margin-top: 1rem;
}
.sin button{
    margin-top: 1.5rem;
    background-color: rgb(72, 72, 235);
    padding: .3rem 1rem;
    border: none;
    width: 8rem;
    height: 2rem;
    color: aliceblue;
    font-size: 1rem;
    border-radius: 5px;
} 
.sin button:hover{
    cursor: pointer;
}

.secondpie{
    margin-top: .6rem;
   width: 61rem;
   height: 19.9rem;
   box-shadow: 0 0 0.2vw 0.2vw wheat;
}
.bub{
    display: flex;
    column-gap:20rem;
}
.pop{
    margin-top: 2rem;
}

