 .red{
  position:absolute;
  color:red;
  font-size: 1rem;
  margin-top: -1rem;

}
Input.input-error{
  border: 1px solid red;
}
.blue{
  position:absolute;
  color:red;
  font-size: 1rem;
}
.reed{
  position:absolute;
  color:red;
  font-size: 1rem;
  margin-top: .5rem;
  margin-left:3rem;
}
.port{
  color:red;
  position:absolute;
}
.pot{
  color:red;
  position:absolute;
  margin-left: 4rem;
}
.redish{
  position:absolute;
  color:red;
  font-size: 1rem;
  
}